
<h3> Data user id : <%= @person.id  %></h3>
<h3> cedula : <%= @person.cedula  %></h3>
<h3> name : <%= @person.name  %></h3>
<h3> age : <%= @person.age  %></h3>
<h3> desc : <%= @person.description  %></h3>
