<!DOCTYPE html>
<html>
  <head>
    <title>Project1</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <body>

    <nav>
     <li>
       <%= link_to "Inicio", root_path%>
       <a href="">Content</a>
       <a href="">About</a>
       <a href="">Hell yeah!</a>
     </li>
    </nav>

    <%if user_signed_in? %>
        <li> <%=link_to "Log out", destroy_user_session_path, method: :delete%></li>
    <%end%>
    <%= yield %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

  </body>
</html>
