<h1>Data people</h1>


<h3> id : <%= @people.id  %></h3>
<h3> cedula : <%= @people.cedula  %></h3>
<h3> name : <%= @people.name  %></h3>
<h3> age : <%= @people.age  %></h3>
<h3> desc : <%= @people.description  %></h3>
